.infoCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.header {
  margin-bottom: 24px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  color: $color-text-main;
}

.subtitle {
  margin: 6px 0 0 0;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
  color: $color-text-sub;
}
