.homePage {
  display: grid;
  gap: 80px;
  margin-bottom: 80px;
}

.aboutOurCompanyContainer {
  display: flex;
  gap: 2rem;

  > * {
    flex: 1;
  }

  @include respond-below(xl) {
    flex-direction: column;
  }
}
