.default {
  background-color: $button-default !important;
  color: $button-text-on-default !important;

  &:hover {
    background-color: $button-default-hover !important;
  }

  &:active {
    background-color: $button-default-active !important;
  }

  &:disabled {
    background-color: $button-default-disabled !important;
    color: $button-text-on-default-disabled !important;
  }
}
